.title{
    font-family: 'Futura';
    font-size: 3vh;
    text-align: center;
    margin-top: 10vh;
}

.result{
    /*margin*/
    display: grid;
    margin-top: 5vh;
    place-content: center;
}
.show_result{
    font-family: 'Futura';
    color:black;
    font-size: 3vh;
    text-align: center;
    background-color: #ffffff;
    border-color: #444444;
    border: 0.3vh solid;
    width: 20vh;
    /*padding*/
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.tweet-container{
    display: grid;
    place-content: center;
    margin-top:5vh;
}
.tweet{
    font-size: 2.4vh;
    font-family: 'Futura';
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    display: none;
}

button:hover{
    background-color: #ffd8d8;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;

    button{
        font-family: 'Futura';
        font-size: 1.3em;
        border-color: red;
        width: 7vh;
        height: 7vh;
        background-color: #e6e6e6;
        margin: 1vh;
        cursor: pointer;
    }
}

.reset_container{
    display: grid;
    place-content: center;
    margin-top: 0vh;

    button{
        font-family: 'Futura';
        font-size: 1.2vh;
        border-color: blue;
        width: 10vh;
        height: 3vh;
        background-color: #e6e6e6;
        margin: 1vh;
        cursor: pointer;
    }
}